<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
  <ion-progress-bar value="0.8" color="danger"></ion-progress-bar>
</ion-header>

<ion-content>
  <h1>Link your socials.</h1>
  <br />
  <div style="text-align: center;" id="socials1">
    <ion-icon
      color="tertiary"
      name="logo-instagram"
      style="color: #222428;"
    ></ion-icon>
    <ion-icon
      color="primary"
      name="logo-facebook"
      style="color: #222428;margin-left:0.75em;"
    ></ion-icon>

    <ion-icon
      color="success"
      name="logo-whatsapp"
      style="color: #222428;margin-left:0.75em;"
    ></ion-icon>
  </div>
  <br />
  <ion-button expand="block" color="dark"
    ><h3 class="login" (click)="next()">Continue</h3></ion-button
  >
</ion-content>
