h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
  }
  
  h3 {
    text-align: center;
    font-weight: bold;
    //font-variant: small-caps;
  }
  
  ion-progress-bar {
    height: 10px;
  }
  
  ion-button {
    --border-radius: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .login {
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .toast {
    font-size: 3em;
  }
  
  ion-icon {
    zoom: 5;
  }
  