<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      App Settings
    </ion-list-header>
    <ion-item>
      <ion-label>Notifications</ion-label>
      <ion-toggle [(ngModel)]="notifications" color="success"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Background App Refresh</ion-label>
      <ion-toggle [(ngModel)]="background" color="success"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Cellular Data</ion-label>
      <ion-toggle [(ngModel)]="data" color="success"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Location Access</ion-label>
      <ion-toggle [(ngModel)]="location" color="success"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-img src="/assets/images/zebras.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Bonus</ion-card-subtitle>
      <ion-card-title>Refer a friend!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>
        Enjoying Zeal? Refer a friend, and when they make their first move
        you'll both get 1 week of premium for free!<br /><br />
        <ion-button color="tertiary">More Details </ion-button>
      </h1>
    </ion-card-content>
    <br />
  </ion-card>
  <ion-item lines="none">
    <ion-button size="medium" color="light" (click)="logout()"
      >Log Out</ion-button
    >
  </ion-item>

  <br /><br />
</ion-content>
