ion-icon {
  zoom: 4;
}

ion-avatar {
  margin-left: 25%;
  zoom: 3;
}

ion-card-subtitle {
  font-size: 1.5em;
  color: #0ec254;
}

h2 {
  font-size: 1.25em;
}

#socials {
  display: none;
}

#socials1 {
  display: none;
}

h1 {
  color: black;
}
