<ion-header>
  <ion-toolbar>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/boy.jpg" />
      </ion-avatar>
      <ion-label>
        <h3>Boy</h3>
        <p>I'm a 25 year old student at uofO</p>
        <p>My interests are but not limited to anime swimming and drinking</p>
      </ion-label>
      <ion-icon slot="end" name="logo-instagram"></ion-icon>
      <ion-icon slot="end" name="logo-facebook"></ion-icon>
      <ion-icon slot="end" name="logo-whatsapp"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/girl.jpg" />
      </ion-avatar>
      <ion-label>
        <h3>Girl</h3>
        <p>I'm a 20 year old student at carleton</p>
        <p>I love working hard to stack my bread up</p>
      </ion-label>

      <ion-icon slot="end" name="logo-instagram"></ion-icon>
      <ion-icon slot="end" name="logo-facebook"></ion-icon>
      <ion-icon slot="end" name="logo-whatsapp"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
