<ion-header>
  <ion-toolbar>
    <ion-title>What interests you?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Food</ion-label>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox color="dark"  slot="start"></ion-checkbox>
      <ion-label>Photography</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="tertiary" slot="start"></ion-checkbox>
      <ion-label>Camping</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="secondary" slot="start"></ion-checkbox>
      <ion-label>Technology</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="danger"  slot="start"></ion-checkbox>
      <ion-label>Movies</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
      <ion-label>Business</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="warning"  slot="start"></ion-checkbox>
      <ion-label>Anime</ion-label>
    </ion-item>
  </ion-list>

  <br />
  <ion-button expand="block" color="dark"
  ><h3 class="login">Continue</h3></ion-button
  >
</ion-content>
