<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Zeal!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>
        Now that your account has been created, you'll want to start chatting
        with your connections. Check them out in the chat tab.
      </h1>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-list-header>
      <ion-label>My Profile</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label position="fixed">Name</ion-label>
      <ion-input value="Sally Student"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Gender</ion-label>
      <ion-select
        placeholder="Select One"
        [interfaceOptions]="customPopoverOptions"
        interface="popover"
        value="f"
      >
        <ion-select-option value="m">Male</ion-select-option>
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="o">Other</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Birthdate</ion-label>
      <ion-datetime
        displayFormat="MM/DD/YYYY"
        min="1900-01-01"
        value="1996-09-23"
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Bio</ion-label>
      <ion-input value="New to the city!"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Interests</ion-label>
      <ion-list>
        <ion-item>
          Food
          <ion-checkbox color="primary" slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox
            color="primary"
            slot="start"
            checked="true"
          ></ion-checkbox>
          Photography
        </ion-item>
        <ion-item>
          <ion-checkbox
            color="primary"
            slot="start"
            checked="true"
          ></ion-checkbox>
          Camping
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary" slot="start"></ion-checkbox>
          Technology
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary" slot="start"></ion-checkbox>
          Movies
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary" slot="start"></ion-checkbox>
          Business
        </ion-item>
        <ion-item>
          <ion-checkbox
            color="primary"
            slot="start"
            checked="true"
          ></ion-checkbox>
          Anime
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>
