<ion-header>
  <ion-toolbar>
    <ion-title>
      Explore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/images/bungee.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Bungee CA</ion-card-subtitle>
      <ion-card-title>Hey Ottawa!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>
        Ready for adventure? Prices start at just $89 for a full day of fun!<br /><br />
        <ion-button color="primary">Check it out here!</ion-button>
      </h1>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-img src="/assets/images/festival.jpeg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Bluesfest</ion-card-subtitle>
      <ion-card-title>This Weekend Only</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>
        Don't miss out on Ottawa's biggest ever music fest!<br /><br />
        <ion-button color="tertiary">More Details </ion-button>
      </h1>
    </ion-card-content>
  </ion-card>
</ion-content>
